.layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.body-container {
  display: flex;
  flex: 1;
  margin-top: 41px; /* compensar header fixo */
}

.page-content {
  flex: 1;
  margin-left: 120px;
  padding: 15px;
  background-color: #d7d9db;
  min-height: calc(100vh - 41px);
  box-sizing: border-box;
}

/* Responsividade para celular */
@media (max-width: 768px) {
  .body-container {
    flex-direction: column;
  }

  .page-content {
    margin-left: 0;
    padding-bottom: 60px; /* evitar que sidebar cubra */
  }
}