.sidebar {
  width: 120px;
  background-color: #e4ebf4;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  top: 41px;
  bottom: 0;
  left: 0;
  padding: 6px;
  box-sizing: border-box;
  height: calc(100vh - 41px);
  z-index: 999;
  font-family: Arial, sans-serif;
}

.sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar li {
  margin: 10px 0;
}

.sidebar a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #2E2E2E;
  font-size: 10px;
  gap: 8px;
}

.sidebar a svg {
  font-size: 12px;
}

.sidebar a:hover {
  color: #23439a;
}

.menu-section {
  font-size: 14px;
  font-weight: bold;
  color: #2E2E2E;
  text-align: center;
}

.sidebar-footer {
  margin-top: 40px;
}

.sidebar-footer a {
  color: #414141;
}

.menu-toggle {
  display: none;
}

@media (max-width: 768px) {
  .menu-toggle {
    display: block;
    position: fixed;
    top: 5px;
    left: 10px;
    background-color: #23439a;
    color: white;
    border: none;
    padding: 2px;
    border-radius: 4px;
    width: 32px;
    height: 32px;
    font-size: 15px;
    z-index: 1100;
    cursor: pointer;
  }

  .sidebar {
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;
    position: fixed;
    top: 41px;
    bottom: 0;
    width: 100px;
    background-color: #e4ebf4;
    z-index: 1000;
  }

  .sidebar.active {
    transform: translateX(0);
  }

  .sidebar.hidden {
    transform: translateX(-100%);
  }
}